# Server Configuration
PORT=3000
JWT_SECRET=your_jwt_signing_secret

# Stock Threshold
VNINDEX_ALERT_THRESHOLD=2000
BITCOIN_ALERT_THRESHOLD=65000

# Discord Alerts (Optional)
DISCORD_WEBHOOK_URL=your_server_webhook_url


# Discord Log-In
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback
DISCORD_CLIENT_ID=your_application_cliend_id
DISCORD_CLIENT_SECRET=your_application_secret

# Discord Owner
DISCORD_OWNER_ID=your_discord_id